<!-- call robot.launch to launch robot -->
<launch>

  <arg name="Robot_0" default="tb3_0"/>
  <arg name="Robot_1" default="tb3_1"/>
  <arg name="Robot_2" default="tb3_2"/>


  <!-- BEGIN ROBOT 0-->
  <group ns="$(arg Robot_0)">
    <include file="$(find turtlebot3_formation)/ros/launch/robot.launch" >
      <arg name="model"       value="burger" doc="model type [burger, waffle, waffle_pi]"/>
      <arg name="x_pos"       value="-1.0"/>
      <arg name="y_pos"       value="-0.5"/>
      <arg name="z_pos"       value="0.0"/>
      <arg name="role"        value="human_follower"/>
      <arg name="tf_prefix"   value="$(arg Robot_0)" />
    </include>
    <node name="robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/$(arg Robot_0)/cmd_vel"/>
    </node>
  </group>

  <!-- BEGIN ROBOT 1-->
  <group ns="$(arg Robot_1)">
    <include file="$(find turtlebot3_formation)/ros/launch/robot.launch" >
      <arg name="model"       value="burger" doc="model type [burger, waffle, waffle_pi]"/>
      <arg name="x_pos"       value="-1.3"/>
      <arg name="y_pos"       value="-0.5"/>
      <arg name="z_pos"       value="0.0"/>    
      <arg name="role"        value="turtle_follower"/>
      <arg name="tf_prefix"   value="$(arg Robot_1)" />
    </include>
    <node name="robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/$(arg Robot_1)/cmd_vel"/>
    </node>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="$(arg Robot_2)">
    <include file="$(find turtlebot3_formation)/ros/launch/robot.launch" >
      <arg name="model"       value="burger" doc="model type [burger, waffle, waffle_pi]"/>
      <arg name="x_pos"       value="-1.6"/>
      <arg name="y_pos"       value="-0.5"/>
      <arg name="z_pos"       value="0.0"/>    
      <arg name="role"        value="turtle_follower"/>
      <arg name="tf_prefix"   value="$(arg Robot_2)" />
    </include>
    <node name="robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/$(arg Robot_2)/cmd_vel"/>
    </node>
  </group>
  
</launch>