<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start gui -->
  <arg name="use_gui" default="true"/>

  <!-- start world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" value="$(find exercises)/part1/ros/worlds/simple.world"/>
   <arg name="paused" value="true"/>
   <arg name="use_sim_time" value="true"/>
   <arg name="gui" value="$(arg use_gui)"/>
   <arg name="headless" value="false"/>
   <arg name="debug" value="false"/>
  </include>
  
  <!-- include our robots -->
  <include file="$(find exercises)/part3/ros/launch/formation.launch"/>

  <!-- Navigation is kept separately -->
</launch>