<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start gui -->
  <arg name="use_gui" default="true"/>

  <!-- start world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
   <arg name="paused" value="true"/>
   <arg name="use_sim_time" value="true"/>
   <arg name="gui" value="$(arg use_gui)"/>
   <arg name="headless" value="false"/>
   <arg name="debug" value="false"/>
  </include>
  
  <!-- include our robots -->
  <include file="$(find turtlebot3_formation)/ros/launch/formation.launch"/>

  <!-- spawn a human -->
  <!-- <include file="$(find turtlebot3_formation)/ros/launch/spawn_person.launch"/> -->


  <!-- Navigation is kept separately -->
</launch>